# Pycharm project files
.idea

# VS Code settings
.vscode/

# Backup files
*~

# folder with micropython interpreter.
micropython/
__pycache__/
venv/

# generated documentation
docgen/_build/
configuration.py

# ignoring Mac files with metadata
.DS_Store
