# needed for the serial interface
pyserial

# needed for the simulator
pygame

# reading tiled maps for rogueflip and the presenter
pytmx

# for mqtt support
paho-mqtt

# zeroconf/bonjour/mDNS for python
zeroconf

# for development (tests)
pytest

# for class diagrams (pyreverse)
pylint

# for lt19
jupyter

# for web
flask
gunicorn