<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xml:lang="de" lang="de" 
      xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Flipdot Flut</title>
    <!-- classless stylesheet: https://watercss.kognise.dev/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
  </head>
  
  <body>
    <h1>Flipdot Flut</h1>

    <!-- used for LNI 2020 https://wiki.das-labor.org/w/Location_not_included_2020/Flipdotflut
    <a href="{{ web_conference_url }}" target="blank">
      (schaue hier dem Display bei der Arbeit zu)
    </a>
    -->

    <p>Das Display kann aus der Ferne gesteuert werden. </p>

    <p>Dimension: {{ dimension }}</p>

    <p><code>{{ request.host }}/px/x/y/onoff</code><br> 
      setzt (onoff ist 'on') oder löscht 
        (onoff ist 'off') einen Pixel an der Stelle (x|y):
        <code>http://{{ request.host }}/px/3/2/on</code>
    </p>

    <p><code>{{ request.host }}/page</code><br> 
      erwartet einen POST-Request, 
      welcher aus 0en, 1en oder xen besteht, die wiederum die 
      Pixel setzen (1) oder löschen (0) oder den Wert nicht ändern (x): 
      <code>$ curl -d 110110 {{ request.host }}/page</code>
    </p>

    <p><code>{{ request.host }}/txt</code><br>
      erwartet einen POST-Request,
      welcher einen Text enthält, der auf dem Display dargestellt werden soll: 
      <code>$ curl -d Hallo {{ request.host }}/txt</code>
  </p>
  <form>
      <input type="text" id='data' name='data'>
      <input type="button" value="Anzeigen" onclick="showTxt()">
  </form>

    <script>
      function showTxt() {
        let data = document.getElementById('data').value;
      
        fetch('{{ request.host_url }}/txt', {
          method: 'POST',
          body: data
        })
        .then(data => {
          console.log('Success:', data);
        })
        .catch((error) => {
          console.error('Error:', error);
        });
      }
      </script>
  </body>
</html>
